@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Sans+Pro:wght@600&display=swap');

*{

    margin: 0px;
    padding:0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;

}

body{
    
    /*background: linear-gradient(90deg, #2685BF 0, #2685BF 30%,#5FB6D9 40%,#5FB6D9 100%);*/
    background-image: url("h6.jpg");
    /*background-color: rgb(0, 0, 0);*/
    font-family: montserarrt;
    background-repeat: no-repeat;
    background-size: cover;
 
}


nav{
    background-image: url("it6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:80px;
    width: 100%;
}

nav ul{
    float:right;
    margin-right: 20px;

}

nav ul li
{
    display:inline-block;
    line-height: 80px;
    margin:0 5px;
}

nav ul li a{
    color:black;
    background-color: rgba(255, 228, 196, 0.664);
    font-weight: bolder;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.act ,a:hover{
    background: #1b9fff;
    transition:.5s;
}

.checkb1{
    font-size:30%;
    color:white;
    float:right;
    line-height:80px;
    margin-right: 40px;
    cursor: pointer;
  
}
header .logo{
    height: auto;   
    margin-left: 70px;
    width: 80px;
    
}
.checkb1{
    font-size: 30px;
    color:white ;
    float:80px ;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


#check{

  display:none;
}

@media(max-width: 952px){
    header .rhmc{
    
    padding-left:50px;
 }
 nav ul li a{
    font-size:16px ;
 }
}
@media(max-width: 858px){
    .checkb1{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height:100vh ;
        left:-100%;
        background: black;
        top:80px;
        text-align: center;
        transition: all .5s;
    }
    nav ul li  {
        display: block;
        margin:50px -0 ;


}
    nav ul li  a{
        font-size: 20px;
    }

         a:hover,a .act{
            background: none;
            color: #0082e6;
         }
    #check:checked~ ul{
        left:0

    }

}


/*hire*/
.course-top
{
    padding: 0 0 100px 0;

}

.online-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    color:rgb(241, 9, 9);
    font-weight: bolder;
    font-size: xx-large;
}

.online-courses{
    
    height: auto;
    padding: 0;
    display: flex;
    align-items:right;
    justify-content:space-between;

}

.online-courses img{
    width: 250px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.online-box{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-evenly;
    border-radius:8px ;
    box-shadow: 2px 2px 5px rgb(114, 243, 9),2px 2px 5px rgb(177,177,177),;
    transition: 0.3s ease-in-out;
}

.online-box:hover{
    box-shadow: 0px 5px 15px #37ec0a;
    cursor: pointer;
    
}

.online-box h2
{
    font-size: 18px;
    color:rgb(241, 9, 9);
    margin:5px 0;

}
.online-box p{
    color: #f74803;
    margin: 5px 0;
}

.course-btn{
    font-size: 14px;
    color:rgb(29, 15, 13);
    font-weight:lighter;
    background-color: rgba(231, 145, 145, 0.726);
    padding:8px 20px;
    margin:7px 0;
    border-radius: 20%;

}



.bottom-feature{
    display: flex;
    align-items: center;
   justify-content: space-between;
   margin:35px 0 0 0;
 

}

.left-date{
    display:flex;
    align-items: center;
    position: relative;
    right:0px;
}

.left-date img{
   background-color: black;
   height: fit-content;

}



